@import url(https://db.onlinewebfonts.com/c/22bbdd53424bef8a0c11fde5ed420f5f?family=NordeaSansSmall-Regular); 
/*Source: https://www.onlinewebfonts.com/download/22bbdd53424bef8a0c11fde5ed420f5f */

header {
    background-color: #00005e;
    padding: 1px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;
    border-bottom: 2px solid black;
    color: white;
    
}
